html {
    font-family: "Courier new", monospace; 
    color: white;
    background-color: #001E00;
}
.content {
    width: 60em;
    margin: 80 auto;
    padding: 10px;
    text-align: center;
    border: 2px white double;
    border-radius: 10px;
    min-height: 80vh;
}
a:link {
    color: forestgreen
}
a:hover {
    color: yellow
}
a:visited{
    color: purple
}
ul {
    list-style: none;
}
.header {
    position: relative;
    margin: auto 80;
    display: flex;
}

.logo img {
    max-width: 200px;
    max-height: 200px;
}
.title {
    flex-grow: 80;
    text-align: center;
}