html {
    font-family: "Courier new", monospace; 
    color: white;
    background-color: #001E00;
}
body {
    width: 80vw;
    margin: 5em auto;
    padding: 2em;
    /*text-align: center;*/
    border: 2px white double;
    border-radius: 10px;
    min-height: 80vh;
}
a:link {
    color: forestgreen
}
a:hover {
    color: yellow
}
a:visited{
    color: purple
}
.heading {
    display: flex;
    justify-content: center;
    text-align: center;
}

.heading > img {
    max-width: 10em;
}